body {
  width: 1366px;
  margin: 0 auto; }

.green_border {
  border-color: #00ff00 !important; }

.red_border {
  border-color: #ff0000 !important; }

.header {
  height: 70px;
  background-color: #cccccc;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative; }

.btn-cart, .btn-login, #modal_auto_form button {
  box-sizing: border-box;
  margin-right: 20px;
  height: 50px;
  width: 100px;
  border: 1px solid #000000;
  background-color: #cccccc;
  font-size: 16px;
  outline: none; }
  .btn-cart:hover, .btn-login:hover, #modal_auto_form button:hover {
    text-decoration: underline;
    background-color: #dddddd; }
  .btn-cart:active, .btn-login:active, #modal_auto_form button:active {
    outline: none;
    background-color: #ffffff; }

.products {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px; }

.product-item {
  height: 300px;
  display: flex;
  flex-direction: column;
  background-color: #dddddd; }
  .product-item img {
    display: flex;
    align-self: center;
    height: 150px;
    width: 90%;
    border: 1px solid #cccccc;
    margin-top: 10px; }
  .product-item h3 {
    text-transform: uppercase;
    margin-left: 10px;
    font-weight: 400; }
  .product-item p {
    font-weight: 900;
    margin-left: 10px;
    font-size: 14px; }
  .product-item .buy-btn {
    height: 30px;
    width: 90%;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    background-color: #cccccc;
    outline: none;
    margin: 0 auto;
    margin-bottom: 10px; }
    .product-item .buy-btn:hover {
      text-decoration: underline;
      background-color: #dddddd; }
    .product-item .buy-btn:active {
      outline: none;
      background-color: #ffffff; }
    .product-item .buy-btn:disabled {
      text-decoration: none;
      background-color: #ffffff; }

.cart {
  position: absolute;
  right: 15px;
  top: 80px;
  width: 350px;
  background-color: #cccccc;
  padding: 10px;
  border: 1px solid #000000; }
  .cart_element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    margin-top: 5px; }
    .cart_element:nth-of-type(2n) {
      background-color: #999999; }
    .cart_element img {
      height: 80px;
      width: 80px;
      background-color: #000000;
      margin: 5px; }
    .cart_element h3 {
      text-transform: uppercase;
      font-size: 16px;
      margin-right: 5px; }
    .cart_element p {
      margin-right: 5px; }
    .cart_element button {
      border: none;
      background-color: #555555;
      color: #ffffff;
      height: 30px;
      width: 30px;
      margin-right: 5px;
      outline: none; }
      .cart_element button:hover {
        outline: 1px solid #000000;
        background-color: #ffffff;
        color: #000000; }
      .cart_element button:active {
        outline: none;
        background-color: #555555;
        color: #ffffff; }
    .cart_element_quantity-block {
      display: flex;
      align-items: center;
      margin-right: 5px; }
      .cart_element_quantity-block button {
        background-color: transparent;
        color: #000000;
        width: 100%;
        height: 100%; }

.filter_form {
  margin-right: 10px;
  display: flex; }
  .filter_form input[type="text"] {
    box-sizing: border-box;
    height: 50px;
    border: 1px solid #000000;
    background-color: #cccccc;
    padding: 10px;
    margin-right: 0;
    outline: none;
    text-transform: uppercase; }
    .filter_form input[type="text"]:hover {
      background-color: #eeeeee; }
    .filter_form input[type="text"]:focus {
      background-color: #ffffff; }
  .filter_form button[type="submit"] {
    box-sizing: border-box;
    height: 50px;
    border: 1px solid #000000;
    border-left: none;
    background-color: #cccccc;
    margin-left: 0;
    outline: none; }
    .filter_form button[type="submit"]:hover {
      background-color: #eeeeee; }
    .filter_form button[type="submit"]:active {
      background-color: #ffffff; }

.btn-login {
  margin-right: 10px; }

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: #000000; }

.modal_auto {
  position: absolute;
  top: 30%;
  left: 37.9238%;
  width: 600px;
  background-color: #cccccc; }
  .modal_auto h3 {
    margin-left: 100px; }

.close_modal {
  position: absolute;
  top: 5px;
  right: 5px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  outline: none; }
  .close_modal:hover {
    text-decoration: underline; }
  .close_modal:active {
    color: #ffffff; }

#modal_auto_form {
  margin: 30px auto;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  #modal_auto_form input[type="text"],
  #modal_auto_form input[type="tel"],
  #modal_auto_form input[type="email"] {
    margin-bottom: 5px;
    box-sizing: border-box;
    height: 50px;
    border: 1px solid #000000;
    background-color: #cccccc;
    padding: 10px;
    outline: none;
    text-transform: uppercase; }
    #modal_auto_form input[type="text"]:hover,
    #modal_auto_form input[type="tel"]:hover,
    #modal_auto_form input[type="email"]:hover {
      background-color: #eeeeee; }
    #modal_auto_form input[type="text"]:focus,
    #modal_auto_form input[type="tel"]:focus,
    #modal_auto_form input[type="email"]:focus {
      background-color: #ffffff; }
  #modal_auto_form textarea {
    margin-bottom: 5px;
    box-sizing: border-box;
    border: 1px solid #000000;
    background-color: #cccccc;
    padding: 10px;
    outline: none; }
    #modal_auto_form textarea:hover {
      background-color: #eeeeee; }
    #modal_auto_form textarea:focus {
      background-color: #ffffff; }

.modal_auto_flex {
  display: flex;
  justify-content: center;
  align-items: center; }

.no-display {
  display: none; }

/*# sourceMappingURL=style.css.map */
